@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.link {
  color: rgba(var(--color-primary-300) / 1);
}

.link:hover {
  color: rgba(var(--color-primary-400) / 1) !important;
  text-decoration: underline;
  text-decoration-color: rgba(var(--color-primary-500) / 1);
  font-weight: 900;
}

.customanim {
  animation-duration: 150ms !important;
  animation-delay: 50ms !important;
}
.header-navbar {
  background-position: center;
}

.customhovercolor {
  font-size: small;
}
.customhovercolor:hover {
  color: rgba(var(--color-tertiary-500) / 1) !important;
}

.customheaderheight {
  height: 20vh !important;
  max-height: 20vh !important;
}
